@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;600&display=swap");
:root {
  --Strong-Cyan: hsl(171, 66%, 44%);
  --Light-Blue: hsl(233, 100%, 69%);
  --Dark-Grayish-Blue: hsl(210, 10%, 33%);
  --Grayish-Blue: hsl(201, 11%, 66%);
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-size: 1.125rem;
  font-family: "Bai Jamjuree", sans-serif;
  background-image: url(bg-header-mobile.png);
  background-repeat: no-repeat;
  background-size: contain;
}
h1,
h2,
.font-aws i {
  opacity: 65%;
  font-weight: 700;
}
p,
li {
  opacity: 40%;
  line-height: 1.4;
  font-weight: 400;
}
p {
  margin-top: 0.8rem;
  margin-bottom: 0.5rem;
  max-width: 600px;
}
.snippets__txt p {
  max-width: 380px;
  /* padding-right: 5rem; */
}
.first-p {
  margin-top: 1.5rem;
  /* margin-bottom: 1.5rem; */
}
.actions p {
  margin: 0;
}
svg {
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.grid {
  display: grid;
  padding: 8rem 0rem;
  margin: 0 auto;
  width: 85%;
  max-width: 700px;
  grid-gap: 7rem;
  text-align: center;
}
@media screen and (min-width: 700px) {
  .grid {
    display: grid;
    padding: 8rem 0rem;
    margin: 0 auto;
    width: 100%;
    max-width: max-content;
    grid-row: 7rem;
    text-align: center;
  }
}
.top {
  display: grid;
  place-items: center;
  row-gap: 1rem;
}
.same {
  display: grid;
  place-items: center;
  row-gap: 1rem;
}

@media screen and (min-width: 700px) {
}
.same {
  display: grid;
  place-items: center;
  row-gap: 1rem;
}
/* .right p {
  max-width: 600px;
} */
.download {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1.5rem;
  width: 100%;
  margin-top: 2rem;
}
@media screen and (min-width: 700px) {
  .download {
    display: flex;
    justify-content: center;
    width: 80%;
    margin: 2rem auto;
  }
}
.download a {
  text-decoration: none;
  color: white;
  padding: 1rem;
  border-radius: 50px;
  box-shadow: 0px 3px 8px rgba(128, 128, 128, 0.452),
    0px 1px 3px rgba(22, 22, 22, 1);
}
.download a:first-child {
  background-color: var(--Strong-Cyan);
}
@media screen and (min-width: 700px) {
  .download a:first-child {
    flex: 1;
  }
}
.download a:last-child {
  background-color: var(--Light-Blue);
}
@media screen and (min-width: 700px) {
  .download a:last-child {
    flex: 1;
  }
}
/* second section start */
.snippets {
  display: grid;
  place-items: center;
  grid-gap: 0.5rem;
}
@media screen and (min-width: 700px) {
  .flex {
    /* display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 3rem;
    width: 100%; */
    display: flex;
    text-align: left;

    margin-left: -10%;
  }
}
@media screen and (min-width: 700px) {
  .snippets__txt {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
}
@media screen and (min-width: 700px) {
  .snip {
    padding-left: 3rem;
    /* border: 2px solid black; */
  }
}
.snippets img {
  width: 100%;
  object-fit: contain;
  margin-bottom: 2.3rem;
}
@media screen and (min-width: 700px) {
  .snippets img {
    margin-left: -9%;
    width: 65%;
  }
}
.access-clipboard img {
  width: 100%;
  object-fit: contain;
}
@media screen and (min-width: 700px) {
  .access-clipboard img {
    width: 65%;
  }
}
/* third section end */
.far,
.fas {
  font-size: 3rem;
  opacity: 40%;
  margin: 2.9rem 0;
}
/* grid for super charged workflow start */
@media screen and (min-width: 700px) {
  .actions {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto;
    grid-template-areas:
      "... one  ...."
      "two three four";
    grid-column-gap: 2rem;
    padding: 0 4rem;
  }
}

@media screen and (min-width: 700px) {
  .one {
    grid-area: one;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
  }
  .two {
    grid-area: two;
    align-self: start;
    justify-self: center;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
  }
  .three {
    grid-area: three;
    align-self: start;
    justify-self: center;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
  }
  .four {
    grid-area: four;
    align-self: start;
    justify-self: center;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
  }
}
/* grid for super charged workflow end */
/* super charge section end */
.logos {
  display: grid;
  grid-gap: 5rem;
}
@media screen and (min-width: 800px) {
  .logos {
    grid-template-columns: repeat(5, 1fr);
    padding: 0 2rem;
  }
  .logos img {
    max-width: 100%;
  }
}
.myfooter {
  background-color: hsla(212, 10%, 33%, 0.1);
  padding: 3.5rem 0;
}
@media screen and (min-width: 800px) {
  .myfooter {
    grid-template-columns: repeat(5, 1fr);
    grid-template-areas: "svg fir sec reg ico";
  }
  svg.bottom {
    grid-area: svg;
  }
  .fir-li {
    grid-area: fir;
  }
  .sec-li {
    grid-area: sec;
  }
  .reg {
    grid-area: reg;
  }
  .font-aws {
    grid-area: ico;
  }
}
li {
  list-style: none;
}
.font-aws i:nth-child(2) {
  padding: 0 2rem;
}
.font-aws i {
  font-size: 2rem;
  margin-top: 1rem;
}
/* space clipboard for ios and mac os from the last logo (vector graphics) */
.ios-mac {
  margin-top: 5.5rem;
}

@media screen and (min-width: 800px) {
  .footer {
    position: relative;
    right: 50%;
  }
}
